header {
    padding: 10px;
    background-color: white;
    color: black;
    text-align: left;
    font-size: 8px;
   

}

main {
    padding: 20px;
    background-color: rgb(235, 235, 235);
    width: 80%;
    text-align: center;
    margin: auto;
    
    
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: left;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }


@media screen and (max-width: 768px) {
    header {
        padding: 10px;
        font-size: 18px;
    
    }


    main {
        padding: 10px;
        font-size: 16px;
    }

    footer {
        padding: 5px;
        font-size: 14px;
    }
    nav{
        display: none;
    }
    aside{
        display: none;

    }
}
